input:valid ~ span,
input:focus ~ span {
  color: white;
  font-size: 0.65em;
  transform: translateX(10px) translateY(-7px);
  padding: 0 5px;
  background: #1d2b3a;
  border-left: 1px solid #e89b26;
  border-right: 1px solid #e89b26;
  letter-spacing: 0.2em;
}

.sun-icon {
  width: 2rem;
  height: 2rem;
}

.sun-icon path,
.sun-icon polygon,
.sun-icon rect {
  fill: white;
}

.sun-icon circle {
  stroke: white;
  stroke-width: 1;
}

.moon-icon {
  width: 2rem;
  height: 2rem;
}

.moon-icon path,
.moon-icon polygon,
.moon-icon rect {
  fill: white;
}

.moon-icon circle {
  stroke: white;
  stroke-width: 1;
}
